body{
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
header{
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#chat-container{
    max-width: 600px;
    margin: 30px auto;
    border: 2px solid #ddd;
    box-shadow: 2px 3px 5px rgba(0,0,0, .5 );
}
#chat-ventana
{
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color:#555;

}

#salida p{
    color:aaa;
    padding: 14px 0;
    margin: 0 20px;

}
#actions p{
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9 ;
    color:#555;

}

input{
    padding:10px 20px;
    box-sizing: border-box;
    border: 0;
    background: #eee;
    display: block;
    width: 100%;
}
button{
    background: #575ed8;
    color:#fff;
    font-size: 18px;
    border:0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}