<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <title>Node chat</title>
    
</head>
<body >
    <div class=" card-header  bg-light">
        <h1 class="font-italic text-monospace text-center">chat con NodeJS </h1>
    </div>
    <div class="card"  id="chat-container">
        <div id="chat-ventana" >
            <div id="salida"></div>
            <div id="actions"></div>
            </div>
            
             <input  type="text" id="usuario" placeholder="usuario">  
             <input type="text" id="mensaje" placeholder ="mensaje">              
             <button id="Enviar">Enviar</button>             
        </div>         
        <script src="/socket.io/socket.io.js" charset="UTF-8"></script>
        <script src="/public/chat.js" charset="UTF-8"></script>
   

    
</body>
</html> 	